.align{
    display: flex;
    align-items:flex-start;
    justify-content: center;
}
.align section{
    margin: 0px 10px;
}
.align button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.Main_main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Main_main{
    height: 97vh;
    background-color: rgb(219, 255, 156);
    border-radius: 6px;
}
canvas{
    background-color: rgb(231, 254, 244);
}