.player_main{
    margin: 0px;
    background-color: rgb(197, 255, 254);
    width: 210px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    height: 450px;
    margin-top: 20px;
}
.player_main h1{
    margin-top: 20px;
}

.player{
    padding: 2px 15px;
    width: 150px;
    margin: 10px 0px;
}
