.chat_main {
    margin: 0px;
    background-color: rgb(197, 255, 254);
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    height: 450px;
    margin-top: 20px;
}

.messages {
    display: flex;
    flex-direction: column-reverse; 
    flex: 1;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

.sendChat {
    display: flex;
    width: 100%;
}

.sendChat input {
    flex: 1;
    padding: 3px;
    width: 144px;
}

.sendChat button {
    padding: 3px;
}

.newMessages{
    padding: 10px;
    margin: 0px;
}

.messages::-webkit-scrollbar {
    width: 10px; 
    background-color: rgb(245, 255, 155);
    border-radius: 1px;
}
