.join_main{
    height: 88vh;
    background-color:rgb(219, 255, 156);
    padding-top: 30px ;
}
.join_main input::placeholder{
    font-size: 20px;
}
.join_main input{
    font-size: 20px;
    padding: 5px;
}
.join_main button{
    font-size: 20px;
}
.join_main Link{
    color: black;
    font-style: none;
    background-color: red;
}